@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

*,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(to left, black, rgb(181, 188, 42), black);
	/* overflow: hidden; */
	font-family: 'Open Sans', sans-serif;
	display: grid;
	place-items: center;
}

.card{
	width: 30em;
	height: 30em;
	background: url("./img/Akuko\ Ifo.webp") no-repeat;
	transform: translate(0em, 5em);
	background-size: contain;
	color: white;
	text-align: center;
	padding: 4em;
	font-weight: 800;
}

.intro_section{
	margin-bottom: 1em;
	border-bottom: 1px solid rgb(219, 216, 216);
}

h1{
	font-size: 2em;
	margin-bottom: .2em;
}

.card img{
	width: 10em;
	height: 10em;
	margin-bottom: 1em;
}

.timeBox{
	background-color: rgb(87, 84, 84);
	border-radius: .5em;
	padding: .5em;
	margin-bottom: 1.5em;
}

.timeBox #time{
	font-size: 2em;
}

a{
	color: rgb(239, 239, 219);
}

a:hover{
	padding: .5em;
	background-color:  rgb(181, 188, 42);
	border-radius: 10px;
	opacity: 70%;
}